.clubs-joined{
    margin:40px
}
.joined-clubs-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.clubs-joined-card{
   width:300px;
    height:200px;
    background-color: white;
    border-radius: 12px;
    margin:20px;
    display: flex;
    flex-direction: row;
    padding: 10px;
    
}
.clublogo{
    width:100px;
    height:100px;
    padding: 10px;
}
.clubname{
    font-size: 20px;
    color: var(--green);
}
.clubfullname{
    font-size: 14px;
    font-weight: 600;
}